@import '../../index.scss';

.button {
  @include button;
}

.button-primary {
  font-size: 1rem;
}

.button-logout {
  color: $red;
  border: 0.5px solid $red;
}

.button-success {
  color: $green;
  border: 0.5px solid $green;
}

.button-error {
  color: $red;
  border: 0.5px solid $red;
}

.button-danger {
  color: $orange;
  border: 0.5px solid $orange;
}

.button-disabled {
  background-color: $gray1;
  border-color: $gray1;
  color: $gray4;

  &:hover {
    opacity: 1;
  }
}
