@import '../../index.scss';

.button {
  @include button;
}

.button-logout {
  color: $red;
  border: 0.5px solid $red;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 3px;
  background: transparent;
}

.button-success {
  background-color: $green;
  color: $white;
}

.button-error {
  background-color: $red;
  color: $white;
}

.button-disabled {
  background-color: $gray1;
  border-color: $gray1;
  color: $gray4;

  &:hover {
    opacity: 1;
  }
}
