@import '../../index.scss';

.button {
  @include button;
}

.button-logout {
  color: $white;
  background-color: $red;
}

.button-success {
  background-color: $green;
  color: $white;
}

.button-error {
  background-color: $red;
  color: $white;
}

.button-disabled {
  background-color: $gray1;
  border-color: $gray1;
  color: $gray4;

  &:hover {
    opacity: 1;
  }
}
