@import '../../index.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  height: 83px;
  padding-right: 2em;
  position: sticky;
  top: 0;
}

.logo {
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.links {
  padding-top: 1rem;
}
.nav-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: $gold2;
  padding: 2em;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 3px;

  &:hover {
    opacity: 0.75;
  }
}
