@import '../../index.scss';

.main-game {
  align-items: flex-end;
  justify-content: flex-end;

  .game-banner-title {
    text-transform: uppercase;
    font-size: 3rem;
    color: $white;
    margin-bottom: 0;
    text-align: center;
  }

  .game-banner-icon-circle {
    .game-banner-icon {
      transition: all 0.25s ease-in-out;
      &:hover {
        transform: rotate(20deg);
      }
    }
  }

  .game-banner-icon {
    color: $white;
    cursor: pointer;
  }
}

.game-section {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 2em;

  .game-section-title {
    @include section-title;
  }

  .game-not-connected {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 2em;
  }

  .game-rules {
    > h3 {
      font-size: 1.7rem;
    }
    text-align: center;
    font-size: 1.1rem;
  }

  > .button-primary {
    margin-top: 1rem;
  }
}

.game-lost {
  text-align: center;
  color: $red;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.game-won {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  > p {
    text-align: center;
    color: $green;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.no-pastry {
  width: 50%;
  > p {
    margin: 0;
  }
  .contact-us {
    color: $black;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 1rem 0;
  }
}

.pastries-won {
  display: flex;
  flex-direction: column;
  align-items: center;

  .pastry-won {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
