@import '../../index.scss';

.main-login {
  justify-content: center;
  height: calc(100vh - 83px);
}

.form-login {
  @include form;

  > input[type='email'],
  input[type='password'] {
    width: 50%;
  }

  > input[type='submit'] {
    @include button;
    margin-top: 1em;
  }
}
