$font-stack: Helvetica, sans-serif;

// colors
$green: rgba(71, 159, 119, 0.371);
$gold1: rgba(230, 186, 26, 0.703);
$gold2: rgb(255, 200, 0);
$red: rgb(204, 31, 31);
$gray1: #e2e2e2;
$gray2: #cccccc;
$gray3: #b7b7b7;
$gray4: #9d9d9d;
$white: #fff;
$body-background: #f7f7f2;
$black: rgb(42, 42, 42);

@mixin button {
  font-weight: 600;
  border: 0px;
  cursor: pointer;
  padding: 0.5em 2em;
  background-color: $black;
  color: $gold2;
  text-align: center;
  border-radius: 1em;

  &:hover {
    opacity: 0.75;
  }
}

body {
  font: 100% $font-stack;
  background-color: $body-background;
  margin: 0;
}
