@import '../../../index.scss';

.form-admin-pastry-crud {
  @include form;
  gap: 0.5rem;

  > input {
    font-size: 1em;
  }

  > input[type='submit'] {
    color: $green;
    border: 0.5px solid $green;
  }

  .file-input-wrapper {
    margin-top: 1em;
    position: relative;

    > input[type='file'] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    .file-input-label {
      background-color: $white;
      color: $black;
      padding: 10px 20px;
      border-radius: 1em;
      cursor: pointer;
      display: inline-block;
    }
  }
}
